<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="description" content="Attendance creator for cubicfox">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<!-- Bootstrap CSS -->
<!-- CSS only -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<title>cubicfox-attendance</title>
</head>
<body>
    <div class="name">
      <label class="label">name</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="">
      </div>
      <div class="alert alert-danger" role="alert"></div>
      getFieldErrors
      <p class="help is-danger">This username is available</p>
    </div>

    <div class="field">
	  <label for="name">name</label>
      <div class="control">
        <input id="name" type="text" name="name" class="input" required {{#formRequest.name}}value="{{formRequest.name}}"{{/formRequest.name}}>
      </div>
    </div>
    <form class="container" action="/image">
        <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
            <div class="col">
                <label for="name">name</label>
                <input id="name" type="text" name="name" class="form-control" required {{#formRequest.name}}value="{{formRequest.name}}"{{/formRequest.name}}/>
            </div>
            <div class="col">
                <label for="yearMonth">yearMonth</label>
                <input id="yearMonth" type="month" name="yearMonth" class="form-control" min="2018-03" required {{#formRequest.yearMonth}}value="{{ formRequest.yearMonth }}"{{/formRequest.yearMonth}} />
            </div>
            <div class="col">
                <label for="h8">8 Hours in case of Saturday is a working day</label>
                <input type="text" name="h8" class="form-control" pattern="^(0?[1-9]|[12]\d|3[01])(,(0?[1-9]|[12]\d|3[01]))*$" placeholder="1,22" value="{{#formRequest.h8}}{{.}}{{^-last}},{{/-last}}{{/formRequest.h8}}" />
            </div>
            <div class="col">
                <label for="FS">FS - fizetett szabadsag</label>
                <input type="text" name="fs" class="form-control" pattern="^(0?[1-9]|[12]\d|3[01])(,(0?[1-9]|[12]\d|3[01]))*$" placeholder="1,22" value="{{#formRequest.fs}}{{.}}{{^-last}},{{/-last}}{{/formRequest.fs}}" />
            </div>
            <div class="col">
                <label for="BS">BS - Sick leave (beteg szabi)</label>
                <input type="text" name="bs" class="form-control" pattern="^(0?[1-9]|[12]\d|3[01])(,(0?[1-9]|[12]\d|3[01]))*$" placeholder="1,22" value="{{#formRequest.bs}}{{.}}{{^-last}},{{/-last}}{{/formRequest.bs}}" />
            </div>
            <div class="col">
                <label for="LO">LO - LeaveOut</label>
                <input type="text" name="lo" class="form-control" pattern="^(0?[1-9]|[12]\d|3[01])(,(0?[1-9]|[12]\d|3[01]))*$" placeholder="1,22" value="{{#formRequest.lo}}{{.}}{{^-last}},{{/-last}}{{/formRequest.lo}}"/>
            </div>
            <div class="col">
                <input type="checkbox" name="noCalendarHelper" class="form-check-input" {{#formRequest.noCalendarHelper}}checked{{/formRequest.noCalendarHelper}}/>
                <label for="noCalendarHelper" class="form-check-label">do not use Calendar to fill the days</label>
            </div>
        </div>
        <div class="row row-cols-1">
            <div class="col">
                <input type="submit" value="submit" class="form-control" />
            </div>
        </div>
        {{#errors}}<div class="alert alert-danger" role="alert">{{.}}</div>{{/errors}}
    </form>
    
    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="bulma">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <p class="help is-success">This username is available</p>
    </div>
    
    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <p class="help is-danger">This email is invalid</p>
    </div>
    
    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Select dropdown</option>
            <option>With options</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea class="textarea" placeholder="Textarea"></textarea>
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input type="checkbox">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <label class="radio">
          <input type="radio" name="question">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="question">
          No
        </label>
      </div>
    </div>
    
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link">Submit</button>
      </div>
      <div class="control">
        <button class="button is-link is-light">Cancel</button>
      </div>
    </div>

</body>
</html>